form{
	font-size:30px;
}
input{
	font-size:30px;
	margin-bottom:30px;
}
button{
	font-size:30px;
	padding:0 100px 0 100px;
	margin-left:150px;
}
.password{
	margin-left:68px;
}

form{
	width:580px;
	background-color:rgba(10,200,10,0.2);
	padding:50px;
	margin:0 auto;
	box-shadow:2px 2px 10px black;
}
h1{
	text-align:center;
}
.password2{
	margin-left:80px;
}

a{
	margin:0 auto;
}